<html>
		<script src="js/javs.js"></script>

	<body onload="chiggychek(v)">
		<br><br><br><br><br><br><br>	
			<form method="post" action="p_check">
				<input type="hidden" name="v" value="<%=v%>">
					<div id="oof"></div>
				<input type="submit" value="CZECH">	
			</form>
	</body>
</html>
