<%=first%> <%=last%>
<head>
<h2>  Team Generator	</h2>
<h4>  People to team up?	</h4>
</head>
<html>
	<form method="post" action="input">
		<input type="text" name="">
		
	</form>
	

<body>

</body>
</html>