<%=first%> <%=last%>
<script>
function gittem(){
	document.getElementById("elm").innerHTML = "PuTDeMNaMeSIN" + "<br>";
		var amnt = document.getElementById("pears").value;
			for (i = 1; i <= amnt; i++){
				var names = document.createElement("input");
					names.type = "text";
					names.id = "names";
					names.required = true;
					names.name = "names" + i;
					names.placeholder = "Put Names Here";
					document.getElementById("elm").appendChild(names).value;
					}	
}					
function less(){
	var x = document.getElementById("elm");
	x.removeChild(x.lastChild);
}
function more(){
	var names = document.createElement("input");
					names.type = "text";
					names.id = "names";
					names.required = true;
					names.name = "names[]";
					names.placeholder = "Put Names Here";
					document.getElementById("elm").appendChild(names).value;
} 	
</script>

<body>
	<head>
			<h2>  Team Generator	</h2>
	</head>

<html>
			<h4> Number of People to team up?	</h4>
	<form method="post" action="nput" id="dispart">
		<input type="number" id="pears" oninput="gittem()">
		<button type="button"  onclick="more()" value="+++"> more </button>
		<button  type="button" onclick="less()" value="---"> less </button>
			<div id="elm">
			</div>
		 <br> 
		<input type="submit" value="Butt">
	</form>
</body>				
</html>