		<%=session[:first]%> <%=session[:last]%>

	<script src="js/javs.js"></script>
<html>
	<body>
		
			<h4> Number of People to team up?	</h4>
		<form method="post" action="nput" id="dispart">
			<input required type="number"  id="pears" oninput="gittem()">

		    <button type="button" onclick="more()">Add Field</button><nl>
			  <button type="button" onclick="less()">Remove Field</button>
			    <div id="elm"></div>
			  <br> 
		  <input type="submit" value="Buttn">
		</form>

	
	</body>				
</html>