<%=first%> <%=last%>
<script>
function gittem(){
	document.getElementById("elm").innerHTML = "PuTDeMNaMeSIN";
		var amnt = document.getElementById("pears").value;
			for (i = 1; i <= amnt; i++){
				var names = document.createElement("input");
					names.type = "text";
					names.id = "names";
					names.required = true;
					names.name = "names" + i;
					names.placeholder = "Puttem Here";
					document.getElementById("elm").appendChild(names).value;
					}	
}


</script>

	



<body>
	<head>
			<h2>  Team Generator	</h2>
	</head>

<html>
			<h4> Number of People to team up?	</h4>
	<form method="post" action="nput" id="dispart">
		<input type="number" id="pears" oninput="gittem()">
		<p id="elm"></p>
		<br>
		<input type="submit" value="Butt">
	</form>
	



</body>
</html>