<html>
	<head>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<body>
		<h1>______________</h1>

	<div class="w3-container">
		<div class="w3-bar w3-border w3-orange">NavBar
		  <a href="/" class="w3-bar-item w3-button w3-text-teal"> Home </a>			
		  <a href="/names" class="w3-bar-item w3-button"> New User </a>					
		  <a href="/nput" class="w3-bar-item w3-button"> Make TeAmS Now </a>			
		  <a href="https://google.com" class="w3-bar-item w3-button">FAQ</a>
		</div>
	</div>
	 <h2>  Team Generator	</h2>
	</head>
		</body>

		<body>
			<%=yield%>
		</body>

<br>
	<br>
		<br>





<footer>	
<a href="http://www.minedminds.org/"> MinedMinds HomePage </a>
</footer>
<footer>
<a href="http://changer-app.herokuapp.com"> Make Some Change </a>
</footer>
</html>
