<html>
<head>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">







<div class="w3-container">Nav
	<div class="w3-bar w3-border w3-orange">
	  <a href="/" class="w3-bar-item w3-button w3-text-teal"> Home </a>					
	  <a href="/names" class="w3-bar-item w3-button"> New User </a>								
	  <a href="/inputs" class="w3-bar-item w3-button"> Make Teams </a>					
	  <a href="https://google.com" class="w3-bar-item w3-button">Somewhere</a>
	</div>
</div>
<h1> !Let's make some TEAMS! </h1>
</head>

<body>
</body>

<body>
	<%=yield%>
</body>

</html>