<%=mssg%>
<script src=js/javs.js></script>
<html>
		<h2> User Login </h2>
	<body>
		<form method="post" action="login">
				<h3>	UserName </h3><br>
			<input type="text" name="uname" placeholder="UserName"><br>
				<h3>  Password </h3><br>
			<input type="password" name="pword" placeholder="Password"><br>
				Login?
			<input type="submit" value="Enter"><br>
		</form>
			
			<p class="color" onmouseover ="culr(this)" onmouseout="colr(this)">
				~~Cause ya don't gotta hafta needta do this~~</p>
			<button class="butt" onclick="practice()" onmouseover ="kulr(this)" 
				onmouseout="qulr(this)">
					~~Skip?~~
			</button>
	</body>
</html>
