<%=mssg%>

<h1> User Login </h1>



<form method="post" action="login">
	<h4>	UserName </h4><br>
	<input type="text" name="uname"><br>
	<h4>  Password </h4>
	<input type="password" name="pword"><br>
			Login?<br>
	<input type="submit" value="Enter"><br>		
</form>