	<h2> Enter your First and Last Name</h2>

<form method="post" action="names">
		<h3> First Name? </h3><br>
	<input type="text" name="first"><br>
		<h3> Last Name?	</h3><br>
	<input type="text" name="last"><br>
		Submit?<br?>
	<input type="submit" value="Continue?">	
</form>
