<script src="js/javs.js"></script>
<html>
	
<body>

<h2><%=first%>__<%=last%>  Your Teams Are</h2>
		<%pairs.each do |final|%>
<h2><%=final%></h2>
		<%end%>

	<button class="butt" onclick="practice()" onmouseover ="kulr(this)" onmouseout="qulr(this)">~Restart?~</button>
</body>


</html>