.color{
	color:hsla(120, 70%, 40%, .53);
}
.butt{
	margin-left:52.33%;
}

p{
	margin-left:42.34%;
	margin-right: 30.55%;
	font-size: 1.11vw; 
}
form{
	margin-left:04.55%;	
}
body{
  
  text-align: center;  
  background-image: url(/photos/mrsnappy.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}